/* basic style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-size: 16px;
}
.title {
  color: #3a3a3a;
  font-size: calc(var(--font-size) * 1.75);
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
/* .display-medium{
    width: 80vw;
    margin: 0 auto;
}
.display-small{
    width: 75vw;
    margin: 0 auto;
} */
/* header style started */

.header {
  padding: 50px 10vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 200px;
}
.logo {
  color: #3a3a3a;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
}
.nav-bar {
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.nav-ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: calc(var(--font-size));
  font-weight: 600;
  padding-bottom: 5px;

}
.nav-ul li{
  border-bottom: 2px solid white;
  transition:border-bottom 0.5s;
  
}
.nav-ul li:hover{
  border-bottom: 2px solid black;


}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header-text .header-title {
  color: #3a3a3a;
  font-size: calc(var(--font-size) * 3);

  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
}
.header-text .header-description {
  color: #3a3a3a;
  font-size: calc(var(--font-size) * 0.9);
  font-weight: 600;
  margin-bottom: 20px;
}
.header-btn {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: calc(var(--font-size));
  font-weight: 700;
  padding: 10px 24px;
  margin-bottom: 20px;
  width: 160px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: gap 0.1s,width 0.1s;
}

.header-btn:hover{
  gap: 20px;
  width:170px ;
 
}

.header-btn button{
  background: #e02c6d;
  color: #fff;
  border: none;
}

.header-cover {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
}

/* brand-name-container started */
.brand-name-container{
  width: 75vw;
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  column-gap: 50px;
  margin-bottom: 120px;
  align-items: center;
  border-top: 1px solid rgb(189, 186, 186);
  border-bottom: 1px solid  rgb(189, 186, 186);
  padding-top: 20px;
  padding-bottom: 20px;
}

.rating {
  font-size: 14px; /* Set the size of the stars */
  color: #fdd835; /* Color of the filled stars */
}
/* Collection container style */
.collection{
  width:calc(100vw - 300px);
  margin: 0 auto;
  margin-bottom: 100px;
 
}
.collection h2{
  text-align: center;
  margin-bottom: 50px; 
  

}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
}
.collection-product{
  padding: 10px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 320px;
  
}
.collection-product .title{
  font-weight: 500;
  color: #18191F;

}
.collection-product .cost{
  color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: calc(var(--font-size) * 1.5);

font-weight: 400;
line-height: 150%; /* 36px */
}
.collection-product .product-description{
  color: var(--gray-50, #787885);
font-family: Inter;
font-size: calc(var(--font-size) * 0.87);
font-weight: 700;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
}
.collection-product img{
  width: 100%;
}
.see-more {
  text-align: right;
  margin-top: 10px;
 
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 13px;
  display: block;
  width: 100px;
  transition: border-bottom 0.7s;
  
}
.see-more a{
  color: rgba(224, 44, 109, 0.87);
  text-decoration: none;
}
.see-more:hover{
  border-bottom: 2px solid rgba(224, 44, 109, 0.87);
 

}